@use "sass:map";

/**
 * Layout breakpoints
 * $mobile: screen width below this value will use mobile styles
 * $desktop: screen width above this value will use desktop styles
 * Screen width between $mobile and $desktop width will use the tablet layout.
 * assuming mobile < desktop
 */
$breakpoints: (
  mobile: 800px,
  desktop: 1200px,
);

$mobile: "(max-width: #{map.get($breakpoints, mobile)})";
$tablet: "(min-width: #{map.get($breakpoints, mobile)}) and (max-width: #{map.get($breakpoints, desktop)})";
$desktop: "(min-width: #{map.get($breakpoints, desktop)})";

$pageWidth: 1000px;
$sidePanelWidth: 320px; //380px;
$topSpacing: 6rem;
$boldWeight: 700;
$semiBoldWeight: 600;
$normalWeight: 400;

// Fonts
$fontFamily: "Inter", sans-serif;
$codeFontFamily: "Source Code Pro", "ui-monospace", "SFMono-Regular", Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;

// Colors
$light: #f8f8f8;
$dark: #1e1e1e;
$secondary: #565656;
$tertiary: #a6a6a6;
$highlight: rgba(187, 237, 110, 0.2);

$lightgray: #e5e5e5;
$gray: #b3b3b3;
$darkgray: #303030;

// Page layout
$left-sidebar-width: 270px;
$right-sidebar-width: 270px;
$content-width: 65ch;
$sidebar-h-padding: 1.5rem;

$mobileGrid: (
  templateRows: "auto auto auto auto auto",
  templateColumns: "auto",
  rowGap: "5px",
  columnGap: "5px",
  templateAreas:
    '"grid-sidebar-left"\
      "grid-header"\
      "grid-center"\
      "grid-sidebar-right"\
      "grid-footer"',
);
$tabletGrid: (
  templateRows: "auto auto auto auto",
  templateColumns: "#{$sidePanelWidth} auto",
  rowGap: "5px",
  columnGap: "5px",
  templateAreas:
    '"grid-sidebar-left grid-header"\
      "grid-sidebar-left grid-center"\
      "grid-sidebar-left grid-sidebar-right"\
      "grid-sidebar-left grid-footer"',
);
$desktopGrid: (
  templateRows: "auto auto auto",
  templateColumns: "#{$sidePanelWidth} auto #{$sidePanelWidth}",
  rowGap: "5px",
  columnGap: "5px",
  templateAreas:
    '"grid-sidebar-left grid-header grid-sidebar-right"\
      "grid-sidebar-left grid-center grid-sidebar-right"\
      "grid-sidebar-left grid-footer grid-sidebar-right"',
);

:root {
  --light: #f8f8f8;
  --dark: #1e1e1e;
  --secondary: #565656;
  --tertiary: #a6a6a6;
  --highlight: rgba(187, 237, 110, 0.2);

  --lightgray: #e5e5e5;
  --gray: #b3b3b3;
  --darkgray: #303030;
}

[saved-theme="dark"] {
  --light: #1e1e1e;
  --dark: #f8f8f8;
  --secondary: #a6a6a6;
  --tertiary: #565656;
  --highlight: rgba(187, 237, 110, 0.2);

  --lightgray: #303030;
  --gray: #b3b3b3;
  --darkgray: #e5e5e5;
}
